body {
  background-color : black !important ;
  font-family : 'Avro', serif;
  }
  .img {
  z-index : 3;
  }
  .center {
  display : block;
  margin-left : auto;
  margin-right : auto;
  width : 50%;
  }
  #text-index {
  z-index : 0;
  font-family : 'Avro', serif;
  position : absolute;
  top : 80%;
  left : -3%;
  transform : translate(-50%,-50%);
  color : #f9f9f9;
  }
  .button {
  z-index : 2;
  background-color : #050505 !important ;
  border : #f9f9f9 !important ;
  border-radius : 10%;
  position : absolute;
  top : 80%;
  left : -3%;
  color : white;
  padding : 16px 32px;
  text-align : center;
  text-decoration : none;
  display : inline-block;
  font-size : 20px;
  margin : 4px 2px;
  transition-duration : 0.4s;
  cursor : pointer;
  }
  .button1 {
  font-size : 60px;
  z-index : 1;
  background-color : #050505;
  color : #f9f9f9;
  position : absolute;
  top : 80%;
  left : 50%;
  }
  body {
  background-color : black;
  font-family : 'Avro', serif;
  }
  .img {
  z-index : 3;
  height : 100%;
  width : auto;
  }
  .center {
  display : block;
  margin-left : auto;
  margin-right : auto;
  width : 50%;
  }
  .button {
  z-index : 2;
  background-color : #050505;
  border : #f9f9f9;
  border-radius : 5%;
  position : absolute;
  top : 80%;
  left : -3%;
  color : white;
  padding : 16px 32px;
  text-align : center;
  text-decoration : none;
  display : inline-block;
  font-size : 20px;
  margin : 4px 2px;
  transition-duration : 0.4s;
  cursor : pointer;
  }
  .button1 {
  z-index : 1;
  text-align : center;
  background-color : #050505 !important ;
  color : #f9f9f9;
  position : absolute;
  top : 80%;
  left : 50%;
  }